@import "styles/reset.css";
@import "styles/colors.css";

* {
  font-size: 11px;
  line-height: 16px;
}

:root {
  font-family: InterVariable, sans-serif;
  font-variation-settings: "wght" 450;
  font-display: swap;
  color: var(--figma-color-text-primary);
  --elevation-400-menu-panel:
    0px 0px 0.5px rgba(0, 0, 0, 0.12), 0px 10px 16px rgba(0, 0, 0, 0.12),
    0px 2px 5px rgba(0, 0, 0, 0.15);
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 11px;
  font-variation-settings: "wght" 550;
  line-height: 1;
  height: 24px;
  user-select: none;
  padding: 0 12px;
  color: var(--figma-color-text-onbrand);
  background-color: var(--figma-color-bg-brand);
}

.button:focus-visible {
  box-shadow:
    inset 0 0 0 1px var(--figma-color-border-selected),
    inset 0 0 0 2px var(--figma-color-border-onbrand-strong);
}

.figma-dark .button:focus-visible {
  box-shadow:
    inset 0 0 0 1px var(--figma-color-border-selected),
    inset 0 0 0 2px #1e1e1e;
}

.button:active {
  background-color: var(--figma-color-bg-brand-pressed);
}

.footer {
  padding: 12px;
  display: flex;
  justify-content: flex-end;
  /* flex: 1; */
  box-shadow: inset 0 1px 0 0 var(--figma-color-border);
}

.section {
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.label {
  display: flex;
  gap: 8px;
  color: var(--figma-color-text);
  font-size: 11px;
  font-variation-settings: "wght" 550;
  padding: 12px;
  z-index: 10;

  &:has(+ .ScrollAreaRoot) {
    box-shadow: 0 1px 0 0 var(--figma-color-border);
  }
}

.collectionNameWrapper {
  padding: 2px;
  margin: 0 10px;
  border-radius: 7px 7px 0 0;
}

.collectionName {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 11px;
  line-height: 16px;
  gap: 8px;
  background-color: var(--figma-color-bg-secondary);
  color: var(--figma-color-text);
  user-select: none;

  &[data-invalid="true"] {
    background-color: var(--figma-color-bg);
    box-shadow: inset 0 0 0 1px var(--figma-color-border);
    color: var(--figma-color-text-secondary);
  }

  &[data-error="true"] {
    box-shadow: inset 0 0 0 1px var(--figma-color-border-danger-strong);
  }
}

.errorWrapper {
  display: flex;
  align-items: center;
  padding: 0 12px;
  transition: padding 300ms cubic-bezier(0.33, 1, 0.68, 1);
}

.collectionNameWrapper:has(.collectionName[data-error="true"]) + .errorWrapper {
  padding: 8px 12px 0;
}

.error {
  opacity: 0;
  transition: opacity 2s;
  color: var(--figma-color-text-danger);
}

.collectionNameWrapper:has(.collectionName[data-error="true"])
  + .errorWrapper
  > .error {
  opacity: 1;
}

.collections-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.ScrollAreaRoot {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.ScrollAreaViewport {
  height: 100%;
  width: 100%;
}

.ScrollAreaScrollbar {
  display: flex;
  /* ensures no selection */
  user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;
  padding: 4px;
}

.ScrollAreaScrollbar[data-orientation="vertical"] {
  width: 12px;
}

.ScrollAreaThumb {
  flex: 1;
  background: var(--color-bg-scrollbar);
  border-radius: 8px;
  position: relative;

  &:hover {
    background: var(--color-bg-scrollbar-hover);
  }
}
/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
.ScrollAreaThumb::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}

.RadioGroupRoot {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
  min-height: 0;
  padding: 12px;
}

.RadioGroupItemWrapper {
  display: flex;
  align-items: center;
  padding: 0 8px;
  border-radius: 5px;
  font-size: 11px;
  line-height: 16px;
  color: var(--figma-color-text);

  &:has(:focus-visible) {
    box-shadow: inset 0 0 0 1px var(--figma-color-border-selected);
  }

  &:has([data-state="checked"]) {
    font-variation-settings: "wght" 550;
    background-color: var(--figma-color-bg-brand-tertiary);
  }

  &:has([data-disabled]) {
    color: var(--figma-color-text-disabled);

    &:has([data-state="checked"]) {
      background-color: var(--figma-color-bg-secondary);
    }

    & svg {
      color: var(--figma-color-text-disabled);
    }
  }

  &:hover:not(:has([data-state="checked"])) {
    background-color: var(--figma-color-bg-secondary);
    &:has([data-disabled]) {
      background-color: var(--figma-color-bg);
    }
  }
}

.RadioGroupItem {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RadioGroupItemLabel {
  display: flex;
  flex: 1;
  padding: 4px 4px 4px 8px;
}

.RadioGroupItemIndicator {
  color: var(--figma-color-text-brand);
}

.IconWrapper {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
